:root {
    --light: #f8f9fa;
    --dark: #343a40;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Asap', sans-serif;
    font-size: 16px;
}

/* POPUP START */ /* POPUP START */ /* POPUP START */ /* POPUP START */ /* POPUP START */ /* POPUP START */ /* POPUP START */ /* POPUP START */ /* POPUP START */ /* POPUP START */ /* POPUP START */ /* POPUP START */ 

.popup-image-resize {
    height: 30px;
    width: 30px;
}

.flipped-image {
    transform: rotate(180deg);
}

.modal-body {
    line-height: 2;
}

/* POPUP END */ /* POPUP END */ /* POPUP END */ /* POPUP END */ /* POPUP END */ /* POPUP END */ /* POPUP END */ /* POPUP END */ /* POPUP END */ /* POPUP END */ /* POPUP END */ /* POPUP END */ /* POPUP END */ /* POPUP END */ 

/* NAVBAR START */ /* NAVBAR START */ /* NAVBAR START */ /* NAVBAR START */ /* NAVBAR START */ /* NAVBAR START */ /* NAVBAR START */ /* NAVBAR START */  /* NAVBAR START */  /* NAVBAR START */ /* NAVBAR START */ /* NAVBAR START */

.navbar-brand {
    font-size: 2em;
    font-weight: 500;
}

.nav-link:hover {
    background-color: rgba(128, 128, 128, 0.692);
    border-radius: 10px;
}

.bi {
    display: block;
    margin: auto;
}

/* NAVBAR END */ /* NAVBAR END */ /* NAVBAR END */ /* NAVBAR END */ /* NAVBAR END */ /* NAVBAR END */ /* NAVBAR END */ /* NAVBAR END */ /* NAVBAR END */ /* NAVBAR END */ /* NAVBAR END */ /* NAVBAR END */ /* NAVBAR END */ 